# .env.example
NODE_ENV=development

# Ports
GATEWAY_PORT=3000
CATALOGUE_PORT=3001
PANIER_PORT=3002
COMMANDES_PORT=3003
NOTIFICATIONS_PORT=3004

# URLs (internes Docker)
CATALOGUE_URL=http://catalogue:3001
PANIER_URL=http://panier:3002
COMMANDES_URL=http://commandes:3003
NOTIFICATIONS_URL=http://notifications:3004
